@charset "UTF-8";
/* CSS Document */
.shop_menu_block .hidden {
  display: none; }
.shop_menu_block .shop_menu_block-item {
  margin-bottom: 35px;
  position: relative; }
  .shop_menu_block .shop_menu_block-item dl {
    display: block;
    clear: both;
    zoom: 1;
    margin-bottom: 0; }
    .shop_menu_block .shop_menu_block-item dl:before, .shop_menu_block .shop_menu_block-item dl:after {
      display: table;
      content: "";
      line-height: 0;
      height: 0;
      width: 0; }
    .shop_menu_block .shop_menu_block-item dl:after {
      clear: both;
      height: 0;
      width: 0; }
    .shop_menu_block .shop_menu_block-item dl > dd.menu_name {
      font-size: 1.1em;
      font-weight: 700; }
    .shop_menu_block .shop_menu_block-item dl dt {
      display: block;
      float: left;
      clear: both;
      font-size: 70%;
      width: 20%;
      text-shadow: 1px 1px 1px #FFFFFF;
      line-height: 2.9em; }
    .shop_menu_block .shop_menu_block-item dl dd {
      display: inline-block;
      float: left;
      width: 80%;
      margin-bottom: 0px;
      min-height: 2.75em; }
      .shop_menu_block .shop_menu_block-item dl dd.none_dt {
        width: 100%;
        display: block; }
    .shop_menu_block .shop_menu_block-item dl dt,
    .shop_menu_block .shop_menu_block-item dl dd {
      border-bottom: 1px dotted #CCCCCC;
      padding: 5px 10px; }
      .shop_menu_block .shop_menu_block-item dl dt p,
      .shop_menu_block .shop_menu_block-item dl dd p {
        margin-bottom: 0; }
  .shop_menu_block .shop_menu_block-item .image_type_dd {
    text-align: center;
    padding: 15px; }
    .shop_menu_block .shop_menu_block-item .image_type_dd img {
      max-width: 100%;
      height: auto;
      background-color: #FFFFFF;
      padding: 4px;
      box-shadow: 2px 2px 9px #CCCCCC;
      transform: rotate(0deg) scale(1);
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s; }
  .shop_menu_block .shop_menu_block-item:hover > .image_type_dd img {
    transform: rotate(2deg) scale(1.02);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s; }
.shop_menu_block .shop_menu_check {
  margin: 1em auto;
  text-align: left;
  /* Transition */ }
  .shop_menu_block .shop_menu_check input[type='radio'],
  .shop_menu_block .shop_menu_check input[type='checkbox'] {
    position: absolute;
    z-index: 10;
    opacity: 0; }
  .shop_menu_block .shop_menu_check label {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    padding-right: 10px;
    padding-left: 35px;
    cursor: pointer; }
  .shop_menu_block .shop_menu_check label::before {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    content: ' ';
    border: 2px solid #da3c41; }
  .shop_menu_block .shop_menu_check label span {
    z-index: 20;
    position: relative; }
  .shop_menu_block .shop_menu_check input[type='checkbox'] + label::before {
    border-radius: 4px; }
  .shop_menu_block .shop_menu_check input[type='checkbox']:checked + label {
    padding-left: 10px;
    color: #ffffff; }
  .shop_menu_block .shop_menu_check input[type='checkbox']:checked + label::before {
    top: 0;
    width: 100%;
    height: 100%;
    background: #da3c41; }
  .shop_menu_block .shop_menu_check input[type='radio'] + label::before {
    border-radius: 4px; }
  .shop_menu_block .shop_menu_check input[type='radio']:selected + label {
    padding-left: 10px;
    color: #ffffff; }
  .shop_menu_block .shop_menu_check input[type='radio']:selected + label::before {
    top: 0;
    width: 100%;
    height: 100%;
    background: #da3c41; }
  .shop_menu_block .shop_menu_check label, .shop_menu_block .shop_menu_check label::before {
    -webkit-transition: 0.25s all ease;
    transition: 0.25s all ease; }

form.shop_menu_essence-reserve_button {
  text-align: right; }

form.shop_menu_essence-reserve_button button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 70%;
  padding: 10px 16px; }

form.shop_menu_block .required-item .col-form-label {
  position: relative;
  padding-left: 3em; }
  form.shop_menu_block .required-item .col-form-label::before {
    content: '必須';
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 10px;
    background-color: #E83336;
    color: #FFFFFF;
    padding: 0px 7px;
    font-size: 0.6em; }

.shop_menu_change-button > div {
  font-size: 70%;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 15px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5; }
  .shop_menu_change-button > div.active {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1; }

.shop_menu_show-button-unit .shop_menu_show-button {
  font-size: 70%;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 15px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  padding: 3px 7px;
  border-radius: 4px;
  line-height: 1em; }
  .shop_menu_show-button-unit .shop_menu_show-button.active {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1; }
  .shop_menu_show-button-unit .shop_menu_show-button.disable {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5; }

.shop_menu_essence-option-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 80%;
  padding: 3px 14px; }

.wrap {
  max-width: 980px;
  margin: 10px auto 0; }

#steps {
  margin: 80px 0 0 0; }

.commands {
  overflow: hidden;
  margin-top: 30px; }

.prev {
  float: left; }

.next, .submit {
  float: right; }

.error {
  color: #b33; }

#progress {
  position: relative;
  height: 5px;
  background-color: #eee;
  margin-bottom: 20px; }

#progress-complete {
  border: 0;
  position: absolute;
  height: 5px;
  min-width: 10px;
  background-color: #337ab7;
  transition: width .2s ease-in-out; }

#reserve_type-btn span {
  font-size: 70%;
  font-weight: normal;
  max-width: 200px; }

.reserve_type-block {
  display: none; }

#reserve_type-preferred .preferred-block {
  padding: 15px;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  background-color: #F3F3F3; }

@media screen and (min-width: 768px) {
  .shop_menu_block dl.has_upload_field {
    width: 70%;
    display: inline-block;
    vertical-align: top; }
  .shop_menu_block .menu_assets.image_type_dd {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: center; }
  .shop_menu_block.grid-view {
    display: flex;
    flex-wrap: wrap; }
    .shop_menu_block.grid-view .shop_menu_block-item {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      width: 33.33%; }
      .shop_menu_block.grid-view .shop_menu_block-item dl.has_upload_field,
      .shop_menu_block.grid-view .shop_menu_block-item .menu_assets.image_type_dd {
        width: 100% !important; }
      .shop_menu_block.grid-view .shop_menu_block-item form.shop_menu_essence-reserve_button {
        text-align: center; } }
@media screen and (max-width: 767px) {
  .shop_menu_block {
    font-size: 80%; }
    .shop_menu_block dt {
      min-width: 35%; }
    .shop_menu_block dd {
      max-width: 65%; }
      .shop_menu_block dd.none_dt {
        max-width: 100%; }
    .shop_menu_block form.shop_menu_essence-reserve_button {
      text-align: center; }

  #reserve_type-btn .inline-block {
    display: block; }
  #reserve_type-btn .btn-item {
    display: block;
    width: 100%; } }
